# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. SciPy
6. Keras
7. TensorFlow
8. PyTorch

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Apache Spark|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

Addition

In [1]:
result = 2+10
print(result) #Output is 12

12

Subtraction

In [2]:
result = 10-2
print(result) #Output is 8

8

Multiplication

In [3]:
result = 10*2
print(result) #Output is 20

20

Division

In [4]:
result = 10/2
print(result) #Output is 5

5.0

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5 #Output is 17

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes= 200
hours = minutes/60
print(hours)

3.3333333333333335

## H2: Author
Name - Ankit Patil